#container {
    max-width: 1280px;
    margin: 0px auto;
    text-align: center;
    min-height: 100vh;
    background: #902443;
    position: relative;
  }
  #whiteBox {
    position: relative;
    width: 480px;
    height: 90vh;
    top: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(100, 100, 100, 0.25);
    border-radius: 5px;
    margin: 0 auto;
  }
  #logo {
    position: relative;
    padding-top: 20px;
    margin: auto;
    width: 81px;
    height: 81px;
  }
  #title {
    position: relative;
    margin: auto;
    margin-top: 3%;
    width: 400px;
    height: 48px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 24px;
    text-align: center;

    color: #5e162b;
  }
  #line1 {
    position: relative;
    width: 14px;
    height: 0px;
    margin-left: 20%;
    margin-top: 18%;

    border: 5px solid #dc7190;
    transform: rotate(90deg);
  }
  #nameform {
    position: relative;
    width: 35px;
    height: 26px;
    top: -2%;
    margin-left: 30%;

    font-family: "SUIT";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    color: #000000;
  }
  #name {
    position: relative;
    width: 300px;
    height: 40px;

    background: #cd99a6;
    border-radius: 50px;
  }
  #line2 {
    position: relative;
    width: 14px;
    height: 0px;
    margin-left: 20%;
    margin-top: 8%;

    border: 5px solid #dc7190;
    transform: rotate(90deg);
  }
  #phone {
    position: relative;
    width: 90px;
    height: 26px;
    margin-left: 28%;
    top: -2%;

    font-family: "SUIT";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    color: #000000;
  }
  #telform {
    position: relative;
    width: 310px;
    height: 42px;
    left: 10%;
    top: 0.5%;

    background: #cd99a6;
    border-radius: 50px;
  }
  #btn {
    position: relative;
    margin: auto;
    width: 93px;
    height: 36px;
    left: -10vw;
    top: 30%;

    background: #902443;
    border-radius: 10px;

    font-family: "SUIT";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #ffffff;
  }
  #footer {
    position: relative;
    width: 248px;
    height: 29px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 45%;
    margin-left:25%;
    text-align: center;
    color: #ffffff;
  }